*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(127, 129, 255, 0.374);
}
table, h1{
    width: 85%;
    margin: 2rem;
}
table th{
    border: 1px solid black;
    padding: 5px;
    margin: 16px;
}
table tr{
    border: 1px solid black;
    text-align: center;
   margin: 1px;
    background-color: rgba(0, 0, 255, 0.142);
}
.output{
    width: 80%;

}
