*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(127, 129, 255, 0.374);
}
.container{
    width: 95%;
}
table tr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*
.container tr{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h1{
    margin: 2rem;
    text-align: center;
}
table th, tr, td{
    padding: 5px;
    text-align: center;
}
table{
    border: 1px solid grey;
}
.output{
    width: 80%;
    } */
    
button{
        width: 7rem;
    }